.hero{

    position:relative;

    min-height:600px;

    display:flex;
    align-items:center;
    justify-content:center;

    padding:70px 25px 90px;

    overflow:hidden;

    background-image:
        linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.75)),
        url("../images/backgrounds/hero-arena.png");

    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;

}

.hero::before{

    content:"";

    position:absolute;
    inset:0;

    background:

    radial-gradient(circle at left,
    rgba(0,120,255,.18),
    transparent 45%),

    radial-gradient(circle at right,
    rgba(255,0,0,.18),
    transparent 45%);

    z-index:1;

}

.hero-overlay{

    position:absolute;
    inset:0;

    background:
    radial-gradient(circle,
    rgba(255,255,255,.08) 1px,
    transparent 1px);

    background-size:24px 24px;

    opacity:.16;

    z-index:2;

}

.hero-content{

    position:relative;

    z-index:5;

    max-width:900px;

    text-align:center;

    color:white;

}

.hero-logo{

    width:370px;

    max-width:85%;

    margin-bottom:45px;

    animation:floatLogo 4s ease-in-out infinite;

    filter:

    drop-shadow(0 0 15px rgba(0,110,255,.75))
    drop-shadow(0 0 20px rgba(255,0,0,.60));

}

.hero-description{

    font-size:24px;

    line-height:1.8;

    color:#f5f5f5;

    max-width:850px;

    margin:auto;

    margin-bottom:60px;

    text-shadow:0 0 12px #000;

}

.hero-buttons{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:28px;

    flex-wrap:wrap;

}

.btn-primary{

    background:
    linear-gradient(90deg,#0066ff,#ff0000);

    color:white;

    border:none;

    border-radius:50px;

    padding:18px 40px;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:.35s;

}

.btn-primary:hover{

    transform:translateY(-5px);

    box-shadow:
    0 0 30px rgba(255,0,0,.70);

}

.btn-secondary{

    background:
    linear-gradient(90deg,#00b7ff,#0066ff);

    color:white;

    border:none;

    border-radius:50px;

    padding:18px 40px;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:.35s;

}

.btn-secondary:hover{

    transform:translateY(-5px);

    box-shadow:
    0 0 30px rgba(0,120,255,.75);

}

@keyframes floatLogo{

    0%{

        transform:translateY(0px);

    }

    50%{

        transform:translateY(-12px);

    }

    100%{

        transform:translateY(0px);

    }

}

@media(max-width:768px){

.hero{

    min-height:640px;

    padding:50px 20px 70px;

}

.hero-logo{

    width:260px;

    margin-bottom:35px;

}

.hero-description{

    font-size:18px;

    margin-bottom:45px;

}

.hero-buttons{

    flex-direction:column;

    gap:18px;

}

.btn-primary,
.btn-secondary{

    width:290px;

}

}